* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 150px 150px 120px 120px 150px;
  grid-template-rows: 100px 75px 75px 100px;
  grid-template-areas:
    "item1 item2 item2 item3 item3"
    "item1 item4 item5 item5 item6"
    "item7 item4 item5 item5 item6"
    "item7 item8 item8 item9 item6";
  grid-gap: 10px;
}

.item1 {
  background-color: #ff6f61;
  grid-area: item1;
}

.item2 {
  background-color: #d1f1ff;
  grid-area: item2;
}

.item3 {
  background-color: #94d2bd;
  grid-area: item3;
}

.item4 {
  background-color: #ffd166;
  grid-area: item4;
}

.item5 {
  background-color: #ffafcc;
  grid-area: item5;
}

.item6 {
  background-color: #caffbf;
  grid-area: item6;
}

.item7 {
  background-color: #bdb2ff;
  grid-area: item7;
}

.item8 {
  background-color: #ffc6ff;
  grid-area: item8;
}

.item9 {
  background-color: #9bf6ff;
  grid-area: item9;
}
